<div class='container' *ngIf="signedInProvider">
    <div class="row">
      <button (click)="goBack()" class="btn btn-primary ml-2">Go back</button>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Company name</th>
            <th scope="col">Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partner of allPartners | async">
            <th scope="row">{{ partner.companyName }} </th>
            <td>{{ partner.email }} </td>
            <td><button type="button" (click)="deletePartner(partner)" class="btn btn-outline-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="row">
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>

  <div class="container" *ngIf="!signedInProvider">
    <p>loading...</p>
  </div>
  