<div class="row">
  <div class="col-6">
      <img class="card-img-top" src="./assets/images/jezus_approves.jpg" width="250" height="400" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Wrong page you idiot!</h5>
      </div>
  </div>

  <div class="col-6">
      <a href="home"><img class="card-img-top" src="./assets/images/hasta-la-vista-baby.jpg" width="400" height="550" alt="Card image cap" ></a>
      <div class="card-body">
        <h5 class="card-title">Press this image to go back to the homepage</h5>
      </div>
    </div>
</div>

