<nav class="navbar navbar-expand navbar-light flex-column flex-md-row bd-navbar">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/ctac-logo.png" width="180" height="60" class="d-inline-block align-top" alt="">
    </a>
    <div class="navbar-nav-scroll" id="navbarNav">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link" href="loyalty-provider">Providers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Transactions</a>
          </li>
        </ul>
    </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <li id="userList" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User:
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Customer</a>
                <a class="dropdown-item" href="#">Partner</a>
                <a class="dropdown-item" href="#">Provider</a>
              </div>
          </li>
        </ul>

</nav>

<router-outlet></router-outlet>

<footer>
    ©Ctac 2019 ~ Nino Avitabile
</footer>
