<div class="row">
  <div class="col-12">
      <button type="button" class="btn btn-outline-success">Add provider</button>
      <button type="button" class="btn btn-outline-primary">Update provider</button>
  </div>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Amount of partners</th>
        <th scope="col">Amount of customers</th>
        <th scope="col">Amount of tokens</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of allProviders">
        <th scope="row">{{ provider.userId }}</th>
        <td>{{ provider.companyName }}</td>
        <td>{{ provider.partners.length}}</td>
        <td>{{ provider.customers.length}}</td>
        <td>{{ provider.tokens.length}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <p class="text-danger">{{ errorMessage }}</p>
</div>
