<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(companyName.value, companyEmail.value, conversion_rate.value)" #addProvider="ngForm">
        <div class="form-group">
          <label for="name">Company name</label>
          <input type="text" class="form-control" id="companyName" required name="companyName" #companyName>
          <div [hidden]="companyName" class="alert alert-danger">
            Company name is required
          </div>
        </div>
    
        <div class="form-group">
            <label for="name">Company email</label>
            <input type="text" class="form-control" id="companyEmail" required name="companyEmail" #companyEmail>
            <div [hidden]="companyEmail" class="alert alert-danger">
              Email is required
            </div>
        </div>
    
        <div class="form-group">
          <label for="conversion_rate">Conversion rate</label>
          <input type="number" class="form-control" id="conversion_rate" required name="conversion_rate" #conversion_rate>
        </div>
    
        <button type="submit" class="btn btn-success" [disabled]="!addProvider.form.valid">Submit</button>
        <button (click)="goBack()" class="btn btn-primary ml-2">Go back</button>
    </form>
  </div>
</div>
