<div class="row">
  <div class="col-12">
    <div class="text-center">
        <h1>Welcome to our blockchain loyalty app!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card bg-light">
      <img class="card-img-top" src="../assets/images/composer.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hyperledger Composer</h5>
        <p class="card-text">This webapp is connected to the hyperledger Composer tool</p>
        <a href="https://hyperledger.github.io/composer/latest/" class="btn btn-primary">Hyperledger Composer</a>
      </div>
  </div>
</div>

  <div class="col-6">
      <div class="card bg-light">
        <img class="card-img-top" src="../assets/images/Hyperledger-Fabric.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hyperledger Fabric</h5>
          <p class="card-text">The hyperledger Composer tool is supported by Hyperledger Fabric framework</p>
          <a href="https://www.hyperledger.org/projects/fabric" class="btn btn-primary">Hyperledger Fabric</a>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card bg-light">
      <img class="card-img-top" src="../assets/images/CTAC_LOGO.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ctac</h5>
        <p class="card-text">The founder of this webapp is Ctac N.V.</p>
        <a href="https://www.ctac.nl/" class="btn btn-primary">Ctac</a>
      </div>
    </div>
  </div>
</div>
